*{
  margin:0;
  padding:0;
}

*{
  background-color: rgb(247, 237, 222);
}

.nav {
  background-color: #333;
  color: #000000;
  display:grid;
  grid-template-columns: 0.5fr 2fr 1.5fr 4fr 1fr 1fr 1fr;
  row-gap: 3%;
  font-family: "Raleway", sans-serif;
}

.logo{
  scale: 50%;
  display: grid;
  grid-column: 2 / 3;
}

.logoImg{
  background-color: #333;
}

ul {
  background-color: #333;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 15px;
  grid-column: 4 / 5;
}

li {
  background-color: #333;
  color: rgb(250, 165, 9);
  padding: 1rem;
  font-family: "Raleway", sans-serif;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contCarrito{
  background-color: #333;
  grid-column: 6 / 7;
  display: flex;
  align-items: center;
}

.carrito {
  text-align: center;
  background-color: #333;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
}

.carritoWidget {
  background-color: #333;
  text-align: center;
  color: rgb(250, 165, 9);
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.cardList{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
  margin: 30px;
  justify-content: center;
}

.cardDetail{
  margin: 30px;
  display: flex;
  flex-direction: row;
}

.textPrice{
  font-size: xx-large;
  color: #333;
  font-weight:bolder;
  font-family: "Raleway", sans-serif;
}

.cardFooter{
  justify-content: center;
}

.contBuyButton{
  justify-content: center;
  color: #333;
}

.contBuyButton:hover{
  scale: 105%;
  transition: all 0.3s ease;
}

.cardBody{
  width: 900px;
}

.imageCardStack{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.imageCard{
  max-height: 450px;
  margin-left: 25px;
}

.imageCardDetail{
  max-height: 300px;
  justify-content: center;
}

.menuList:hover {
  cursor: pointer;
  background-color: rgb(218, 218, 218);
}

.menuList, .menuListName{
  font-size:medium;
  color: #333;
  background-color:rgb(250, 165, 9);
  font-family: "Raleway", sans-serif;
}

.footer{
  height: 100px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
}

.footerIcons{
  display: flex;
  justify-content: space-between;
  font-size: xx-large;
}

.fa-brands{
  background-color: #333;
  color: rgb(250, 165, 9);
}

.fa-brands:hover {
  cursor: pointer;
  scale: 105%;
}

.addToCart{
  font-size:large;
  color: #333;
  background-color:rgb(250, 165, 9);
  font-family: "Raleway", sans-serif;
}

.addToCart:hover{
  scale: 105%;
  background-color: rgb(228, 228, 228);
}

.homeContainer{
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: 0px;
}

.imageWithOverlay {
  position: relative;
  display: inline-block;
  margin-top: 100px;
}

.imageWithOverlay img {
  width: 100%;
  vertical-align: middle;
}

.linkCategory {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  border: none;
  padding: 0;
  margin: 0px;
  font-size: 50px;
  font-weight: bold;
  background-color: transparent;
  color: rgb(250, 165, 9);
  font-family: "Raleway", sans-serif;
}

.titleHome{
  font-family: "Raleway", sans-serif;
  color: #333;
  font-size: 40px;
  font-weight: bolder;
  position: relative;
  bottom: 43%;
  left: 32%; 
  padding: 50px;
}

.linkCart, .fa-sharp{
  background-color: #333;
  color: rgb(250, 165, 9);
  font-size: 30px;
  font-weight: bolder;
  padding-top: 20px;
  font-family: "Raleway", sans-serif;
}

.cartWidget{
  background-color: #ffffff;
  border-radius: 30px;
  position: relative;
  bottom: 30%;
  left: 40%; 
  padding: 8px;
  font-size: 15px;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
}

.cartContainer{
  background-color: #333;
}



